language: julia
os:
    - linux
    - osx
julia:
    - 0.3
    - 0.4
    - nightly
notifications:
    email: false
before_install:
  - cd ..
  - git clone https://github.com/wookay/CITestZMQ.jl.git ZMQ.jl
  - cd IJulia.jl
